<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Menu Item</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="pane">

      <h1>Create New Menu Item</h1>

      <div class="name">
        <form action="{{ url_for('newMenuItem', restaurant_id = restaurant_id) }}" method="post">
              <strong><label for="">Enter details for menu item:</label></strong><br><br>

              <label for="">Name: </label>
              <input type="text" name="new_name" placeholder="Enter name here.."><br>
              <label for="">Price: </label>
              <input type="text" name="new_price" placeholder="Enter price here.."><br>
              <label for="">Description: </label>
              <input type="text" name="new_description" placeholder="Enter description here.."><br>
              <label for="">Course: </label><br>
              <input type="radio" name="new_course" value="entree"> Entree <br>
              <input type="radio" name="new_course" value="appetizer"> Appetizer <br>
              <input type="radio" name="new_course" value="dessert"> Dessert <br>
              <input type="radio" name="new_course" value="beverage"> Beverage <br><br>

              <input type="submit" value="Create">
              <a href="{{ url_for('showMenu', restaurant_id = restaurant_id) }}">Cancel</a>
        </form>
      </div>

    </div>
  </body>
</html>
